<nav class="navbar navbar-expand-lg bg-primary px-4 py-2">
  <div class="container-fluid d-flex justify-content-between align-items-center">

    <!-- Logo -->
    <a class="navbar-brand text-white d-flex align-items-center" href="#">
      <img src="logo.png" alt="Logo" height="60" class="me-2" />
      <span class="fw-bolder display-6">S-Digital</span>
    </a>

    <!-- Botón / Ícono -->
    <button class="btn btn-outline-light d-flex align-items-center" type="button" (click)="descargarPDF()">
      <i class="bi bi-download d-lg-none fs-5"></i>
      <span class="d-none d-lg-inline">Descargar PDF</span>
    </button>
  </div>
</nav>